<a href="https://colab.research.google.com/github/maringalczerjustine/CPE-103-OOP-1-A/blob/main/LOOPING(Complete).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FOR LOOP**

In [ ]:
#Example 1
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [ ]:
#Example 2
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
#Example 3
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [ ]:
#Example 4
for x in "week":
  print(x)

w
e
e
k

**RANGE FUNCTION**

In [ ]:
#Example 1
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
#Example 2
for x in range (2,6):
  print(x)

2
3
4
5

**NESTED LOOPS**

In [ ]:
#Example 1
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**WHILE LOOP**

In [ ]:
#Example 1
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

**BREAK STATEMENT**

In [ ]:
#Example 1
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

**CONTINUE STATEMENT**

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3 or i == 6:
    continue
  print(i)

1
2
4
5

**THE ELSE STATEMENT**

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

APPLICATION 1

In [ ]:
for x in range(11):
  print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

**PRACTICAL TEST**

Create a Python Program that displays integers less than 10 but not less than 3

In [ ]:
#Example 1
for x in range (3,10):
  print (x)

3
4
5
6
7
8
9

In [ ]:
#Example 2
num = [3,4,5,6,7,8,9]
for x in num:
  print (x)

3
4
5
6
7
8
9

In [ ]:
#Example 3
x = 3
while x < 10:
  print (x)
  x+=1

3
4
5
6
7
8
9