<a href="https://colab.research.google.com/github/maringalczerjustine/CPE-103-OOP-1-A/blob/main/LOOPING(Completed).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [73]:
#Example 1
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [74]:
#Example 2
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [75]:
#Example 3
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [ ]:
#Example 4
for x in "week":
  print(x)

The Range Function

In [ ]:
for x in range (6):
  print(x)
for x in range (2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [ ]:
adjective = ["red","big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Break Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Continue Statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3 or i == 6:
      continue
  print(i)

1
2
4
5

Else Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [ ]:
word = "Hello"
num = 0
while num < 11:
  print(word, num)
  num += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

**PRACTICAL TEST**

In [ ]:
i = 2
while i < 9:
  i += 1
  print(i)

3
4
5
6
7
8
9